# Ignore python compiled code
__pycache__/
*.pyc

# Ignore common output files
*.exe
*.o
*.so
*.dll
*.jar
*.egg-info

# Ignore common output directories
build/
bin/
reports/
html/
dist/

# Ignore any common secrets (just being overly cautious)
.pypirc
*.pypirc
.env
.env/


