
details > *:not(summary) {
  margin-left: 12pt;
  margin-top: 8pt;
}

summary {
  font-weight: bold;
  font-size: 1.2em;
}

details, summary {
  border: 1px solid black;
}
summary {
  border-width: 0 0 1px 0;
}

